.w-message-mask{position: fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:999;}
.w-message-mask .w-message-alert{width: 500px;height: 240px;background-color: #fff;border-radius: 15px;position: absolute;left: 50%;top: 12%;margin-left: -250px;box-sizing: border-box;padding-top: 54px;}
/* 关闭按钮样式 */
.w-message-mask .w-message-alert .wma-close{ font-size: 40px;position: absolute;right: 15px;top: 5px;cursor: pointer; opacity: 0.8;color: #939393; }
/* 信息提示样式 */
.w-message-mask .w-message-alert .wma-close:hover{transform: scale(1.1);opacity: 1; }
.w-message-mask .w-message-alert .wma-info{width: 100%;height:90px;}
.w-message-mask .w-message-alert .wma-info .wmai-icon{ display:block; width: 40px;height: 40px;color: #989898;border:5px solid #989898;border-radius: 50%;margin: 0 auto;text-align: center;line-height: 40px;font-size: 30px;font-weight:bold;}
.w-message-mask .w-message-alert .wma-info .wmai-content{ font-size: 20px;text-align: center;display: block;width:100%;height: 50px;line-height: 50px;color: #3d3435; }
/* 按钮样式 */
.w-message-mask .w-message-alert .wmai-menus{ width: 100%;height: 35px;margin-top: 40px;position: relative; }
.w-message-mask .w-message-alert .wmai-menus .wmai-menus-box{ position: absolute;width: 100%;height: 100%; display: flex;justify-content: center;}
.w-message-mask .w-message-alert .wmai-menus .wmai-menus-btn{ display: block; width: 135px;height: 35px;text-align: center;line-height: 35px;background-color: grey;color: #fff;font-size: 15px;border-radius: 5px;cursor: pointer;opacity: 0.9; }
.w-message-mask .w-message-alert .wmai-menus .wmai-menus-btn:hover{ opacity: 1; }
.w-message-mask .w-message-alert .wmai-menus .wmai-menus-btn-ok{ background-color: #4895f0; }

/* 警告样式 */
.w-message-mask .w-message-alert-warning .wma-info .wmai-icon{color: #ec6465;border-color: #ec6465;}
.w-message-mask .w-message-alert-warning .wmai-menus .wmai-menus-box{ justify-content: space-around; }
.w-message-mask .w-message-alert-warning .wmai-menus .wmai-menus-btn-ok{ background-color: #f85d5b; }

/* 系统异常 */
.w-message-mask .w-message-alert-anomalous .wma-info .wmai-icon{color: #ec6465;font-size: 40px;border:none;}

/* 普通样式 */
.w-message-mask  .w-message-alert-normal .wma-info .wmai-content{ height: 90px;line-height: 90px; }

/* 错误样式 */
.w-message-mask  .w-message-alert-error .wma-info .wmai-icon{ line-height: 35px; }